@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary : "rgb(255, 212, 59)" ; 
    --secondary : "";
    --info : "rgb(30, 144, 255)s" ;
    --alert : "" ;
    --error : "" ; 
    --success : "" ; 

}